/*div {
	width: 50%; height:500px;
}*/

p {
	color: red;
	text-align: center;
}

h1 {
	color: red;
	text-align: center;
}

footer {
	text-align: center;
	color: red;
}
.centered {
	height: 500px; width: 
}