header, main .text, footer {
	font-family:  "Comic Sans MS", cursive, sans-serif;
	min-width: auto;
	text-align: center;
}

body{
	background: white;
}

header {
	background: grey;
	overflow: auto;
	font-size: 20px;
	border-style: solid;
	border-color: grey;
	padding: 10px;
}

header span {
	float: left;
	width: auto;
}

header nav {
	float: right;
	width: auto;
}

/*#avatar1 {
	padding:5%;
	float: left;
}

#avatar2 {
	float: right;
	padding: 5%;
}
*/

.leftPanel {
	width: 22%;
	height: 500px;
	float: left;
}

.emptySpace {
	margin: auto;
	background: green;
	height: 500px;
	width: 50%;
	padding: 10px;
	float: left;
}

.rightPanel {
	float: left;
	width: 22%;
	height: 500px;

}

footer {
	float: right;
}

